<div id="testimonial-box">
	<div id="testimonial-content">
		<img src="/Themes/MTBTheme/Content/Images/quote-start.png" alt="MTB Fitness Testimonial quote" />
		
        @Html.Raw(@Model.MainBody)
         
        <img src="/Themes/MTBTheme/Content/Images/quote-end.png" alt="MTB Fitness Testimonial quote end" style="display:inline-block"/>
		<span><b>@Model.Author</b> MTB Fitness Director</span>
	</div>
</div>